<h1>College Search</h1>
Enter the college name you are searching for in the input field and press 'Search'.
</b>
The first 20 colleges will be displayed on a google map.
<%= form_with url: :search, method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>
